In [21]:
df.isnull().sum()

id_venta           0
fecha              0
id_cliente         0
id_producto        0
cantidad           0
canal_venta        0
ciudad_x           0
nombre_producto    0
categoria          0
precio             0
nombre             0
genero             0
edad               0
ciudad_y           0
fecha_registro     0
ingresos           0
mes                0
dtype: int64

In [20]:
df[df["ingresos"] < 0]

Empty DataFrame
Columns: [id_venta, fecha, id_cliente, id_producto, cantidad, canal_venta, ciudad_x, nombre_producto, categoria, precio, nombre, genero, edad, ciudad_y, fecha_registro, ingresos, mes]
Index: []

In [19]:
df.groupby("mes")["ingresos"].sum()

mes
2023-01    5665.0
2023-02    5448.0
2023-03    7627.0
2023-04    9028.0
2023-05    6780.0
2023-06    5045.0
2023-07    5331.0
2023-08    3968.0
2023-09    5355.0
2023-10    4680.0
2023-11    5672.0
2023-12    5695.0
Freq: M, Name: ingresos, dtype: float64

In [18]:
df["fecha"] = pd.to_datetime(df["fecha"])
df["mes"] = df["fecha"].dt.to_period("M")

In [17]:
df.groupby("nombre")["ingresos"] \
  .sum() \
  .sort_values(ascending=False) \
  .head(5)

nombre
Laura Martínez     9701.0
Ana Gómez          8923.0
Jorge Navarro      8215.0
Juan Pérez         7085.0
Lucía Fernández    6980.0
Name: ingresos, dtype: float64

In [16]:
df.groupby("nombre_producto")["ingresos"] \
  .sum() \
  .sort_values(ascending=False) \
  .head(5)

nombre_producto
Zapatillas CrossFit    22360.0
Zapatillas Running     15720.0
Sudadera Técnica        6600.0
Mancuernas 10kg         6000.0
Pantalón Training       5960.0
Name: ingresos, dtype: float64

In [15]:
df.groupby("ciudad")["venta"].sum().sort_values(ascending=False)

KeyError: 'ciudad'

In [11]:
df.groupby("canal_venta")["ingresos"].sum()

canal_venta
Online    32964.0
Tienda    37330.0
Name: ingresos, dtype: float64

In [10]:
df["ingresos"].mean()

np.float64(140.588)

In [9]:
df["ingresos"].sum()

np.float64(70294.0)

In [8]:
df["ingresos"] = df["cantidad"] * df["precio"]

In [7]:
df.head()

,id_venta,fecha,id_cliente,id_producto,cantidad,canal_venta,ciudad_x,nombre_producto,categoria,precio,nombre,genero,edad,ciudad_y,fecha_registro
0,1,2023-09-01,1,1,1,Online,Madrid,Zapatillas Running,Calzado,120.0,Juan Pérez,M,28,Madrid,2023-01-15
1,2,2023-09-02,2,2,2,Tienda,Barcelona,Camiseta Deportiva,Ropa,25.0,Ana Gómez,F,34,Barcelona,2023-02-10
2,3,2023-09-03,3,3,1,Online,Valencia,Pantalón Training,Ropa,40.0,Carlos Ruiz,M,45,Valencia,2023-03-05
3,4,2023-09-04,4,5,3,Tienda,Sevilla,Esterilla Yoga,Fitness,20.0,Sofía Torres,F,22,Sevilla,2023-04-20
4,5,2023-09-05,5,4,1,Online,Madrid,Mancuernas 10kg,Fitness,60.0,Miguel López,M,39,Madrid,2023-05-18

In [6]:
df = ventas.merge(productos, on="id_producto", how="left") \
           .merge(clientes, on="id_cliente", how="left")

In [5]:
ventas.shape

(500, 7)

In [4]:
ventas.head()

,id_venta,fecha,id_cliente,id_producto,cantidad,canal_venta,ciudad
0,1,2023-09-01,1,1,1,Online,Madrid
1,2,2023-09-02,2,2,2,Tienda,Barcelona
2,3,2023-09-03,3,3,1,Online,Valencia
3,4,2023-09-04,4,5,3,Tienda,Sevilla
4,5,2023-09-05,5,4,1,Online,Madrid

In [3]:
ventas = pd.read_sql("SELECT * FROM ventas", conn)
clientes = pd.read_sql("SELECT * FROM clientes", conn)
productos = pd.read_sql("SELECT * FROM productos", conn)

In [2]:
# Conectar a SQLite
conn = sqlite3.connect("retail_sales.db")

In [1]:
import sqlite3
import pandas as pd